@charset "utf-8";
/* CSS Document */
body{background:url(../image/bg03.png); font-size:12px; font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;color:#5F5F5F;margin:0;padding:0; position:relative;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{border:0;list-style:none;margin:0;padding:0;}
input,select,textarea{font-size:12px;font-family: Arial,"微软雅黑","黑体","宋体"; line-height:18px; padding:0; margin:0; color:#4F4F4F;outline: none}
p{ line-height:20px;}
a{text-decoration:none;outline:none; color:#007FFF}
a:hover{ color:#80BDE3}
a,a:focus{ outline:none;}
a,img{ border:none;}
.underline{ text-decoration:underline}
img{ vertical-align:middle;}
table{ border-collapse:collapse;  border-spacing: 0;}
td{ word-break:break-all; word-wrap:break-word}
textarea{　resize:none}
/*float*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.clearfix {display:block; }
.fl{float:left;}
.fr{float:right;}
.clear{ clear:both}
/*common*/
.tc{ text-align:center}
.tr{ text-align:right}
.tl{ text-align:left}
.underline{ text-decoration:underline}
.hide{ display:none}
.pos-rel{ position:relative}
h1, h2, h3, h4, h5, h6{ font-weight:400; font-size:14px;}
.ft14{ font-size:14px !important;}
.ft16{ font-size:16px !important;}
.ft18{ font-size:18px !important;}

.wrapper{ width:1000px; margin:0 auto; background:#fff;}

/*margin*/
.mt0{ margin-top:0px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mb50{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.padding15{ padding:15px;}
.padding10{ padding:10px;}
.padding5{ padding:5px;}
/*width*/
.w10{ width:10px;}
.w20{ width:20px;}
.w30{ width:30px;}
.w40{ width:40px;}
.w50{ width:50px;}
.w60{ width:60px;}
.w70{ width:70px;}
.w80{ width:80px;}
.w90{ width:90px;}
.w100{ width:100px;}
.w110{ width:110px;}
.w118{ width:118px;}
.w120{ width:120px;}
.w130{ width:130px;}
.w140{ width:140px;}
.w150{ width:150px;}
.w160{ width:160px;}
.w170{ width:170px;}
.w180{ width:180px;}
.w190{ width:190px;}
.w200{ width:200px;}
.w210{ width:210px;}
.w220{ width:220px;}
.w230{ width:230px;}
.w240{ width:240px;}
.w250{ width:250px;}
.w260{ width:260px;}
.w270{ width:270px;}
.w280{ width:280px;}
.w290{ width:290px;}
.w300{ width:300px;}
.w310{ width:310px;}
.w320{ width:320px;}
.w330{ width:330px;}
.w340{ width:340px;}
.w400{ width:400px;}
.w500{ width:500px;}
.w600{ width:600px;}
/*控件*/
input[type="checkbox"]{ _vertical-align:-1px; vertical-align:-2px; margin-right:3px;}
input[type="radio"]{  _vertical-align:-1px; vertical-align:-2px;  margin-right:3px;}
textarea{ border:1px solid #B6C0CD;border-radius:3px; padding:5px; overflow:auto; resize:none;box-shadow:inset 1px 1px 3px #DBDBDB}
.areaSmall{ width:200px; height:40px; resize:none; }
.areaBig{ width:470px; height:100px; resize:none; }

.datagrid .areaSmall{ float:left}
.inp-error{ border-color:#f00}
.defaultVal{ color:#ccc}
.select{ height:28px; *height:22px; line-height:28px;*line-height:22px; padding:4px 0px;*padding:0; border-radius:5px; border:1px solid #999}
.required{ color:#f00; margin-right:5px; vertical-align:middle; font-size:16px;}
.inp-txt{ height:18px; line-height:18px; padding:5px; border:1px solid #B6C0CD; color:#333; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.inp-error{ border-color:#FF4000}
.btn100{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	background:url(../image/btn_appcreat.png) no-repeat;
	text-align:center;
	vertical-align:middle;
	color:#fff;
}
.btn120{display:inline-block;width:120px;height:28px;line-height:28px;background:url(../image/btn120.png) no-repeat;text-align:center;vertical-align:middle;
color:#5F7392;box-shadow:1px 1px 2px #DBDBDB}
.btn120:hover{ color:#5F7392}
.btn-big{ display:inline-block; width:240px; height:35px; line-height:35px; color:#fff; background:url(../image/loginBtn.png) no-repeat; text-align:center; border:0 none; font-size:14px;}
.btn-big-nogo{ background:url(../image/loginBtnNo.png)}
.btn-big:hover{ color:#fff;}
.btn240{ display:inline-block; width:240px; height:35px; line-height:35px; color:#5F7292; background:url(../image/btn240.png) no-repeat; text-align:center; border:0 none; font-size:14px;}
.btn240:hover{ color:#5F7292;}

/*表单列表*/
.formList{
	color:#5F7292;
}
.formList .item{ 
	line-height:28px; 
	margin-bottom:10px;
	min-height:28px;
	padding-left:80px;
}
.formList .item .label{
	display:block; 
	float:left; 
	width:75px;
	line-height:28px;
	padding-right:5px; 
	margin-left:-80px; 
	_display:inline; 
	text-align:right;
}
.formList .item .form-btn a{ 
	margin-right:10px;
}
.formList .item .tips-txt{ 
	margin-left:10px;
	color:#A4A4A4
}
.formList .item .tips-error{
	color:#F00
}
.formList .item .tip-twoline{
	line-height:20px;
	display:block;
	margin-left:0;
	margin-top:5px;
}
.formList .time-sel a{
	color:#007FFF;
	text-decoration:underline;
	margin:0 10px;
}
.btn-center{
	text-align:center;
	padding:20px 0
}
.btn-center a{
	margin:0 10px;
}
.btn-right{
	text-align:right;
	padding:10px 0
}
.btn-right a{
	margin-right:10px;
}




.header{
	height:90px;
	background:url(../image/hd.png) bottom repeat-x
}
.header .top-line{ height:4px; line-height:4px; background:url(../image/bg.png) repeat-x; overflow:hidden;}
.header .wrapper{ background:none;}
.header .top{ height:24px; line-height:24px; padding-top:3px; text-align:right;color:#b3b3b3;}
.header .top a{color:#b3b3b3; margin:0 10px;}

.nav h1{ float:left;padding-top:8px;}
.nav h1 a{ display:block;width:340px; height:45px; background:url(../image/logo.gif) no-repeat; text-indent:-9999px;}
.main-nav{ float:right;}
.main-nav li{ float:left;height:30px;line-height:30px; padding:15px;}
.main-nav li a{ font-size:16px;color:#F3F3F4;}
.main-nav .current,.main-nav a:hover{color:#46D616;}

/*幻灯片*/
.slideBox{ width:1000px; height:500px; overflow:hidden; position:relative; }
.slideBox .hd{ height:14px; overflow:hidden; position:absolute; left:50%; margin-left:-40px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; }
.slideBox .hd ul li{ float:left; margin-right:15px;  width:12px; height:12px; line-height:12px; text-align:center; background:#ccc; cursor:pointer; color:#fff;}
.slideBox .hd ul li.on{ background:#fff;}
.slideBox .bd{ position:relative; height:100%; z-index:0;}
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:1000px; height:500px; display:block;  }

.slideSmall{ height:320px;}
.slideSmall .bd img{ width:1000px; height:320px; display:block;  }


.count{ height:38px; line-height:38px; padding:10px 0; text-align:center; font-size:16px;}
.count img{ margin:0 2px;}
.count .mr10{ margin-right:10px;}
.count .ml10{ margin-left:10px;}

.ad-txt{ margin:20px 0;}
.ad-txt ul{ overflow:hidden; zoom:1}
.ad-txt li{ width:33%; float:left; text-align:center}
.ad-txt img{ display:block; width:150px; height:150px; margin:0 auto}
.ad-txt h2{ color:#76A93A; font-size:16px; height:40px; line-height:40px; overflow:hidden; font-weight:700}
.ad-txt p{ line-height:26px; font-size:14px; color:#434343}

.news-box{ overflow:hidden; zoom:1; background:url(../image/bg02.png) repeat; border-top:1px solid #EAEAEA}
.news-box a{ color:#434343}
.news-box .item{ width:430px; float:left; padding:20px 30px 30px 40px;}
.news-box h2{ font-size:16px; color:#76A93A; font-weight:700; margin-bottom:30px;}
.news-box .news-hot{ height:130px; padding-left:230px; position:relative; margin-bottom:10px;}
.news-box .news-hot .pic{ width:200px; height:120px; padding:4px; border:1px solid #ECECEC; position:absolute; top:0; left:0}
.news-box .news-hot h3{ font-size:14px; line-height:30px; margin-bottom:5px;}
.news-box .news-hot p{ text-indent:2em; line-height:22px;}
.news-box li{ height:30px; line-height:30px; overflow:hidden;}
.news-box li .channel{ color:#87B219; margin-right:5px;}

.footer{  padding:10px 0; background:url(../image/ft.png) repeat-x; color:#fff; position:fixed;bottom:0px;width:100%;}
.footer p{ line-height:30px; text-align:center}
.footer p a{ color:#fff; margin:0 5px;}

.content{ min-height:500px;}
/*登陆页面*/
.login-wrap{ height:432px; background:url(../image/login.jpg) center center no-repeat; margin-bottom:50px}
.login-wrap .wrapper{ position:relative}
.login{ background: url(../image/bg_login.png);width:260px; position:absolute;top:20px;right:0;padding:0 20px;}
.login .form-title{color:#76869F; font-size:18px; border-bottom:1px solid #A7B3C2;height:36px;line-height:36px; padding-top:10px;}
.login .form-cnt{padding:10px;}
.login .form-error{ height:28px; line-height:28px; background:#FFFBCC; border:1px solid #FF4101; color:#FF4101; padding-left:10px; margin-bottom:5px; display:none}
.login .label{ display:block; font-size:12px;color:#5F7292;height:24px;line-height:24px;}
.login .inp-txt{width:228px;}
.login .pass{ font-size:18px;}
.login .form-item{ margin-bottom:10px;}
.login .form-code{ height:30px; line-height:30px;}
.login .form-code .inp-txt{ width:60px; float:left; margin-right:20px;}
.login .form-code img{ width:100px; height:30px; float:left; margin-right:10px; cursor:pointer}
.login .form-code a{ display:block; width:14px; height:15px; background:url(../image/refresh.png) no-repeat; float:left; text-indent:-9999px; margin-top:7px;}
.login .form-txt{ height:30px; line-height:30px;}

.login-txt{ position:absolute; top:80px; left:380px;width:230px; height:150px; z-index:100}
.login-txt h2,.login-txt p{ text-indent:-9999px;}
.login-txt a{ display:block; width:100px; height:30px; position: absolute; top:112px; right:0; text-indent:-9999px; z-index:110}
/*注册页面*/
.post,.find{width:400px;margin:0 auto;padding-top:50px;}
.post .item{ margin-bottom:20px;}
.post .inp-txt{ width:228px;}
.post .w60{ width:60px;}
.post .item-txt{ margin-bottom:0}
.post-zj{margin-top:20px; border-top:1px solid #d8dde4;height:36px;line-height:36px; padding-left:20px;}
.post-yy{margin-left:120px;}
.post .tips-error{ margin-left:80px;}
/*找回密码*/
.find-pass{ width:460px; margin:0 auto; border:1px solid #CCD3DC;}
.find-pass .hd{background:url(../image/bg_find.png) top repeat-x; height:38px; line-height:38px; border-bottom:1px solid #CCD3DC}
.find-pass .hd li{ float:left; width:230px; height:38px; position:relative}
.find-pass .hd li a{ display:block; width:231px; height:40px; line-height:40px; text-align:center; font-size:18px; color:#5F7292; position:absolute; top:-1px;}
.find-pass .hd .on a{ background: url(../image/bg_findon.png) repeat-x; padding:1px 0; color:#fff;}
.find-pass .hd .phone{ left:-1px;}
.find-pass .hd .email{ right:0px;}
.find-pass .hd li i{ display:block; width:18px; height:9px; background:url(../image/arror_find.png) no-repeat; position:absolute; top:39px; left:50%; margin-left:-9px; display:none;}
.find-pass .hd .on i{ display:block;}

.find-pass .bd{ padding-top:20px;}
.tips-error{height:28px; line-height:28px; background:#FFFBCC; border:1px solid #FF4101; color:#FF4101; padding-left:10px; margin-bottom:5px; display:none;}
.find-pass .item{ margin-bottom:20px; padding-left:110px;}
.find-pass .item .label{ width:105px; margin-left:-110px;}
.find-pass .tips-error{ margin-left:110px; margin-bottom:10px;}

.tab_min{border-bottom:solid 1px #CCCCCC; font-size:16px; height:38px; margin-bottom:20px;}
.tab_min ul{width:400px; margin:0 auto;}
.tab_min ul li{ background-color:#FFF;float:left; border:solid 1px #CCCCCC; padding:8px 20px; margin:0 6px; color:#CCC; cursor:default;}
.tab_min ul li:hover{ color:#1E326F;}
.tab_min ul li.active{ padding-bottom:9px; border-bottom:0; color:#1E326F}

/*第一个页--liang11-20*/
.main_content_l{ width:974px; margin:0 auto; background:url(../image/bg04_l.jpg) left top repeat; padding:20px 13px;}
.main_content_left{ width:748px; float:left; display:inline; background:#FFF; border:1px #E7E7E7 solid;padding:15px 0;  }

/*右侧列表*/
.main_content_right{ width:210px; float:left; display:inline; margin:0 0 0 12px;}


/*.container{ padding:15px; background:url(../image/bg04.png); min-height:500px; width:970px; margin:0 auto}
.container .main{ padding:20px; width:710px; float:left; min-height:300px; background:#fff;}
.container .side{ width:210px; float:right; min-height:300px;}
*/
.app-info{ padding:0 20px;}
.app-info-top{ position:relative;  padding:0 140px 0 110px;}
.app-info-top .pic{ width:70px; height:70px; position:absolute; top:0; left:0; border:1px solid #E7E7E7}
.app-info-top .code{ position:absolute; top:0; right:0;}
.app-info-top .app-info-bd{ width:420px;}
.app-info-top .app-info-bd dl{ overflow:hidden; zoom:1}
.app-info-top .app-info-bd dt{ font-size:18px; line-height:35px;}
.app-info-top .app-info-bd dd{ width:180px; float:left; height:30px; line-height:30px;}
.app-info-top .app-info-bd .label{ display:inline-block; width:60px; text-align:right;}
.app-info-top .app-info-bd dd .num{ color:#f00; margin-right:5px;}
.app-info-top .app-info-bd .share{ width:360px; height:34px; line-height:34px;}
.app-info-top .app-info-bd .share img{}
.app-info-top .app-info-bd .share a{ margin-right:15px;}
.app-info-top .down{ line-height:26px; margin-top:15px;}
.app-info-top .down a{ margin-right:10px; display:inline-block; width:120px; height:26px; line-height:26px; color:#fff; text-align:center; background:#76A93A}
.app-info-top .down .nolink{ background:#EAEAEA; color:#A1A1A1}

.app-info h3{ border-top:1px dashed #E7E7E7; height:30px; line-height:30px; padding-top:10px; font-size:14px; font-weight:700; margin-top:20px;}

/*图片滚动展示*/
.picScroll{ width:630px; height:333px; margin:25px auto; position:relative;}
.picScroll .hd a{ display:block; width:30px; height:58px; background:url(../image/scrollbtn.png) no-repeat; position:absolute; top:130px; z-index:999; cursor:pointer}
.picScroll .hd .prev{background-position:0 0;left:-30px}
.picScroll .hd .next{ background-position:-30px 0; right:-30px}
.picScroll .hd .prev:hover{background-position:0px -60px;}
.picScroll .hd .next:hover{background-position:-30px -60px;}
.picScroll .bd{ width:630px; overflow:hidden; position:relative}
.picScroll ul{ width:5000px; position:absolute; top:0; left:0;}
.picScroll li{ width:200px; height:333px; float:left; padding:0px 5px; position:relative;}
.picScroll li img{width:200px; height:333px;}


.discuss{ padding-left:30px;}
.discuss .discuss-item{ border-bottom:1px solid #E7E7E7; position:relative; padding:15px 0 15px 80px;}
.discuss .discuss-item .pic{ position:absolute; top:16px; left:0; width:60px; height:60px; border:1px solid #DDDDDD}
.discuss .discuss-item .dis-hd{ height:30px; line-height:30px; overflow:hidden;}
.discuss .discuss-item .dis-hd .user{ color:#76A93A; font-size:14px; float:left}
.discuss .discuss-item .dis-hd p{ float:right; line-height:30px;}
.discuss .discuss-item .dis-bd{ line-height:25px;}

.page{ height:28px; line-height:28px; padding:20px 0;}
.page .sum{ float:right}
.page .page-bd{ text-align:center;}
.page .page-bd a{ display:inline-block; height:26px; line-height:26px; border:1px solid #C2D1D4; padding:0 10px; color:#52667F; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.page .page-bd .current{ background:#7EAE46; border-color:#7EAE46; color:#fff;}
.page .page-bd a:hover{ background:#AACB81; color:#fff; border-color:#AACB81}

/*右侧列表*/
.main_content_right{ width:210px; float:left; display:inline; margin:0 0 0 12px;}
.m_search{ width:210px; height:26px; }
.m_search_text{ width:182px; height:26px; float:left; display:inline; background:url(../image/search_r1_c1.jpg) no-repeat right bottom;}
.m_search_text input{width:175px; height:26px; padding:0 0 0 5px; line-height:26px; font-size:14px; background:none; border:none;}
.m_search_btn{ width:28px; height:26px;float:left; display:inline; background:url(../image/search_r1_c4.jpg) no-repeat left bottom; }
.m_search_btn input{ width:28px; height:26px; background:none; border:none;cursor:pointer;}

.main_content_right h2{ padding:0 0 0 10px; margin:15px 0; height:26px; line-height:26px; background:url(../image/icon_l_r1_c2.jpg) no-repeat left center; color:#76A939; font-size:16px;}
.m_con_rlist{ padding:0 0 0 12px;}
.m_con_rlist h4{padding:0 0 0 30px;}
.m_con_rlist h4 a{ color:#606060}
.mc_rlist_one{ background:url(../image/1.jpg) no-repeat left center;}
.mc_rlist_two{ background:url(../image/2.jpg) no-repeat left center;}
.mc_rlist_three{ background:url(../image/3.jpg) no-repeat left center;}
.mc_rlist_four{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/4.jpg) no-repeat left center;}
.mc_rlist_five{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/5.jpg) no-repeat left center;}
.mc_rlist_six{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/6.jpg) no-repeat left center;}
.mc_rlist_seven{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/7.jpg) no-repeat left center;}
.mc_rlist_eight{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/8.jpg) no-repeat left center;}
.mc_rlist_nine{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/9.jpg) no-repeat left center;}
.mc_rlist_ten{ float:left; display:inline; margin:3px 0 0 0; width:18px; height:18px; background:url(../image/10.jpg) no-repeat left center;}
.mc_rlist_box{ height:70px; margin:15px 0 0 0; padding:0 0 0 20px;}
.mc_rlist_box_pic{ float:left; display:inline; margin:8px 0 0 0;}
.mc_rlist_box_title{ float:left; display:inline; margin:0 0 0 20px; color:#606060}
.mc_rlist_box_title h3{ margin:0 0 8px 0;color:#606060}
.mc_rlist_box_title h3 a{ color:#606060}
.mc_rlist_box_title p strong{font-weight:normal; padding:0 5px; color:#FF7F00;}
.mc_rlist_box_title h5{ background:#76A93A; width:70px; height:26px; text-align:center; line-height:26px;}
.mc_rlist_box_title h5 a{ color:#fff;}
.mc_rlist_box2{ height:60px; padding:10px 0 0 0;}

/*第一个页--liang11-20*/
.main_content_l{ background:url(../image/bg04_l.jpg) left top repeat; padding:20px 13px;}
.main_content_left{ width:748px; float:left; display:inline; background:#FFF; border:1px #E7E7E7 solid;padding:15px 0;  }
.m_cont_left_title2{padding:0 10px; margin:0 0 30px 0; height:30px; background:url(../image/icon_l_r1_c2.jpg) no-repeat 10px center;}
.m_cont_left_title2 .icon_btn2_l{ width:80px; height:30px; line-height:30px; float:right; display:inline;}
.m_cont_left_title2 .icon_btn2_l img{ margin:0 0 0 10px; cursor:pointer;}
.m_cont_left_title2 .icon_btn2_l a{ font-size:14px; color:#666;}
.m_cont_left_title2 h2{ color:#76A93A; font-size:16px; width:100px; padding:0 0 0 10px; height:30px; line-height:30px; float:left; display:inline;}

/*tab*/
.main1_tab{ height:380px;}
.tab_header { width:100px; float:right; display:inline;}
.tab_header li{ width:18px; height:18px; float:left;display:inline; margin:0 5px; cursor:pointer; background:url(../image/icon_l_r1_c3.jpg) no-repeat center center;}
.tab_header li.main_tab_btn{ width:18px; height:18px; float:left;display:inline; margin:0 5px; cursor:pointer; background:url(../image/icon_l_r1_c1.jpg) no-repeat center center;}
.main1_tab_top{ padding:0px 10px 15px 10px; height:30px; display:block;}
.main1_tab_title{ background:url(../image/icon_l_r1_c2.jpg) no-repeat left center; padding:0 0 0 10px; color:#76A93A; font-size:16px;}
.main1_tab div{ height:310px; display:none;border-bottom:1px #E7E7E7 solid; margin:0 0 10px 0;}
.main1_tab div.icon_content_block{ display:block; height:310px; border-bottom:1px #E7E7E7 solid; margin:0 0 10px 0;}

.icon_box_l{ width:110px; height:110px; margin:0 38px 40px 38px; float:left; display:inline; text-align:center; color:#606060}
.icon_box_l h3{ margin:5px 0 0 0; text-align:center;}
.icon_box_l h3 a{ color:#606060}
.icon_box_l h3 strong{ font-weight:normal; padding:0 5px; color:#FF7F00;}
/*tab-end*/
.icon_content2{ height:450px;}
.icon_content2_list{ float:left; display:inline; margin:0 50px 0 40px;}
.icon_content2_list h4{ width:70px; height:26px; padding:0 0 0 10px; line-height:26px; font-size:14px;  color:#FFF; background:#76A93A; margin:0 0 15px 0;}
.icon_box2_l{ height:75px;}
.icon_box2_picture{ float:left; display:inline;}
.icon_box2_title{ float:left; display:inline; margin:0 0 0 15px; color:#606060}
.icon_box2_title h3{ margin:5px 0 0 0;}
.icon_box2_title h3 strong{font-weight:normal; padding:0 5px; color:#FF7F00;}
.icon_box2_title a{ color:#606060}


.mc_left_bottom{ width:702px; padding:0 0 0 8px; height:42px; line-height:42px; margin:0 auto; background:url(../image/m_left_bottom.jpg) no-repeat center center;}
.mc_left_bottom a{ margin:0 7px; font-size:14px; color:#5F5F5F;}
.mc_left_bottom a:hover{ margin:0 7px; font-size:14px; color:#FF7F00;}


/*第二个页--liang11-20*/
.main2_top{ height:100px; background:url(../image/bg02.png) repeat left top;}
.main2_top_menu{ height:50px; padding:0 0 0 30px;}
.main2_top_menu div{ background:url(../image/border_left.jpg) no-repeat right center; height:50px; line-height:50px; text-align:center; float:left; display:inline;color:#5F5F5F; position:relative}
.main2_top_menu div.bgno{background:none}
.main2_top_menu .arror{ display:block; width:18px; height:9px; background:url(../image/arror_menu.png) no-repeat; position:absolute; top:41px; left:50%; margin-left:-9px;}
.m2_top_title{ width:90px; font-size:16px; background:none;}
.m2_top_title2{ width:80px; font-size:14px;}
.m2_top_title2 a{ color:#5F5F5F}
.m2_top_title2_click{ width:80px; font-size:14px; background:url(../image/sanjiao.jpg) no-repeat bottom center;}
.m2_top_title2_click a{color:#76A939}
.main2_top_menu2{ height:48px; background:#FFF;border-top:1px #E7E7E7 solid;border-bottom:1px #E7E7E7 solid; padding:0 0 0 100px; margin:-1px 0 0 0;}
.main2_top_menu2 li{ width:100px; height:48px; line-height:48px; text-align:center; float:left; display:inline;}
.main2_top_menu2 li a{ color:#5F5F5F; font-size:14px;}
.main2_top_menu2 li.m2_top_click{ background:url(../image/boder_bottom.jpg) no-repeat bottom center;}   
.main2_top_menu2 li.m2_top_click a{color:#76A939}
.mian2_box{ float:left; display:inline; width:329px; height:130px;border:1px #E7E7E7 solid; margin:0 0 15px 15px; padding:10px;}
.m2_box_pic{ width:60px; text-align:center; float:left; display:inline; padding:30px 0 0 0;}
.m2_box_list{ width:265px; float:left; display:inline;}
.m2_box_list h3{ font-size:16px; padding:8px 0 10px 0;}
.m2_box_list h3 a{ color:#5F5F5F}
.m2_box_list p{ font-size:12px; padding:5px;}
.m2_box_list h4{ font-size:12px; color:#999; padding:5px 0 0 5px;} 

.app-nav{ background: url(../image/bg02.png)}
.app-nav .hd{ height:30px; line-height:30px; padding:10px 20px; border-bottom:1px solid #E7E7E7;}
.app-nav .hd dt{ float:left; font-size:16px;}
.app-nav .hd dd{ float:left; font-size:14px; padding:0 24px; background:url(../image/border_left.jpg) right center no-repeat; position:relative}
.app-nav .hd dd a{ color:#606060}
.app-nav .hd dd a:hover{ color:#76A93A}
.app-nav .hd .current a{ color:#76A93A; font-weight:700}
.app-nav .hd .arror{ display:block; width:18px; height:9px; background:url(../image/arror_menu.png) no-repeat; position:absolute; top:32px; left:50%; margin-left:-9px; display:none}
.app-nav .hd .current .arror{ display:block}

.app-nav .bd{}
.app-nav .bd ul{ overflow:hidden; zoom:1; padding:10px 20px; border-bottom:1px solid #E7E7E7;border-top:1px solid #E7E7E7; background:#fff; line-height:30px; margin-top:-1px;}
.app-nav .bd li{ float:left; height:25px; line-height:25px; margin-right:20px; padding-bottom:1px; white-space:nowrap}
.app-nav .bd li a{ color:#5F5F5F}
.app-nav .bd li:hover{ border-bottom:1px solid #76A93A; padding-bottom:0}
.app-nav .bd li:hover a{ color:#76A93A}
.app-nav .bd .current{border-bottom:1px solid #76A93A; padding-bottom:0}
.app-nav .bd .current a{ color:#76A93A; font-weight:700}


/*wInput*/
/**********************************
 * Theme - Classic
 **********************************/
.wInput-theme-classic::-webkit-input-placeholder { color: #ACACAC; }
.wInput-theme-classic:-moz-placeholder { color: #ACACAC; }
.wInput-theme-classic::-moz-placeholder { color: #ACACAC; }
.wInput-theme-classic:-ms-input-placeholder { color: #ACACAC; }
.wInput-theme-classic.wInput-placeholder { color: #ACACAC; }

